.navbar{
   color:#ecf0f1;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   height: 100%;
}
.navbar img{
    width: 80px;
}
.navbar h1{
    padding-inline: 15px;
    font-size: 32px;
}